<% if (site.tags.length) { %>
<div class="card widget">
    <div class="card-content">
        <div>
	</div>
<iframe id="ytplayer" type="text/html" width="260" height="250"
src="https://www.youtube.com/watch?v=4BKWBTG98KA"
  frameborder="0"></iframe>
    </div>
</div>
<% } %>