<% if (site.tags.length) { %>
<div class="card widget">
    <div class="card-content">
        <div>
	</div>
	<iframe width="240" height="140" src="//player.bilibili.com/player.html?aid=2438924&cid=3817800&page=4" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    </div>

    <div>
    	<h3>公告</h3>
    	这个博客是用来存我的学习笔记的。 但我发现建成后有许多同学是来看博客搭建的，基本上给我的留言都是这些哈哈哈。
    	我简单说说吧，我也只是做了一些些的改动（css，文章布局等），剩下的都是博客系统自带的可定制化的改动，各位多看看Hexo的帮助文档就行了。
    	另外所以下后面大家以后肯定会碰到的一个问题就是当你换电脑的时候的博客迁移问题，老把文件拷来拷去难免麻烦。我用的是 Jun Han 大佬的方案<a href="https://formulahendry.github.io/2016/12/04/hexo-ci/">HEXO的版本控制与持续集成</a>。 希望能帮到你们。
    </div>
</div>
<% } %>