.link_card {
    display: flex;
    border-radius: 16px;
    border: 1px solid white;
    width: 60%;
    height: 100px;
    padding: 10px;
    margin-top: 15px;
    background-color: #FFFFFF;
    text-align: left;
    font-style: "SimHei";
}
.link_card:hover{
    background-size: 120%;
    box-shadow: 3px 3px 3px #888888;
    background-image: linear-gradient(to left, #D5E1E0,#29675F);
}
.card_img{
    flex: 1;
    vertical-align: middle;
}
.link_content {
    flex: 8;
    margin-left: 10px;
}

.title{
    padding: 0px;
    color: #2CB692;
    font-weight: bold;
    font-size: 15px;
}
.title a{
    color: #91CDAC;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}
.title a:hover{
    color: #D480AA;
}
img{

    border-radius: 16px;
    margin-top: 13px;
    text-align: center;
}
.description{
    color: #BBD0D3;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 15px;
}


/*标题*/

.category_dl{
    font-family: "楷体","楷体_GB2312";
    width: 60%;
    height: 80px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 8px;
    color: black;
    border-left: 4px solid #F0AD4E;
    background-color: #FDF8EA
}
.category_py{
    font-family: "楷体","楷体_GB2312";
    width: 60%;
    height: 80px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 8px;
    color: black;
    border-left: 4px solid #6F42C1;
    background-color: #F5F0FA;
}

.apply_button{
    margin-top: 30px;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    color: #2CB692;
    height: 30px;
    border-radius: 16px;
    font-family: "楷体","楷体_GB2312";
    text-align: center;
    background-color: #D5E1E0;
    line-height: 30px;
    margin-bottom: 20px;
}
.apply_button a{
    text-decoration: none;
    color: #2CB692;
}
.apply_button:hover{
    box-shadow: 3px 3px 3px #888888;
    background-image: linear-gradient(to left, #D5E1E0,#29675F);
}


hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.explain{
    font-size: 18px;
    font-family: "楷体","楷体_GB2312";
    margin-top: 20px;
    margin-left: 0;
}

.format{
    font-family: "楷体","楷体_GB2312";
    width: 60%;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 8px;
    line-height: 25px;
    color: black;
    border-left: 4px solid #6F42C1;
    background-color: #F5F0FA;
    font-weight: bold;
}
.format p{
    text-align: left;
}